.container1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.heading {
  color: rgb(21, 53, 122);
  font-family: sans-serif;
  font-weight: 700;
}

.content {
  color: rgb(21, 53, 122) !important;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 400;
}

.colstyle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.backgroundcard {
  position: relative;
  border-radius: 25px;
  left: 60px;
}

.childcard {
  display: flex;
  justify-content: center !important;
  align-content: center;
  height: 350px;
  width: 500px;
  background-color: rgb(243, 235, 235);
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  position: absolute;
}
